<%- include('../common/auctioneerDashBoard') %>
<div class="m-3">
    <h3 class="font-weight-bold mt-3">Available Auctions</h3>
    <%if(auctionsData.length == 0){ %>
        <p class="font-weight-bold mt-3">No Available Auctions</p>
    <% }else{ %>
        <div>
            <table class="table">
                <tr>
                    <th>admin_name</th>
                    <th>auction_name</th>
                    <th>auction_type</th>
                    <th>min_amount</th>
                    <th>max_amount</th>
                    <th>status</th>
                    <th>bid_auction</th>
                </tr>
                <% auctionsData.map(eachObj => { %>
                    <tr>
                        <td> <%= eachObj['admin_id']['name'] %> </td>
                        <td> <%= eachObj['auction_name'] %> </td>
                        <td> <%= eachObj['auction_type'] %> </td>
                        <td> <%= eachObj['min_amount'] %> </td>
                        <td> <%= eachObj['max_amount'] %> </td>
                        <td> <%= eachObj['auction_status'] %> </td>
                        <td> <a href="http://localhost:3000/auctioneer-auctions/auction_bid/<%=eachObj['_id'] %>"><button class="btn"></button> Bid </button></a></td>
                    </tr>    
                <% }) %>
            </table>
        </div>

    <% } %>

</div>